@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-[#0a0a0a] text-white antialiased;
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
}

/* Custom scrollbar to keep it "Industrial" */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full;
}